{% extends "information/layout.html" %}
{% block content %}

{% comment %} <div>
    <a href="{% url 'protected' %}">Go to your protected page!</a>
</div> {% endcomment %}


<!-- Hero Section -->
<div class="flex p-10 min-h-32 mt-10 rounded-xl items-center justify-center bg-gradient-to-r from-blue-600 to-purple-700 text-white">
    <div class="text-center p-10">
        <h1 class=" text-4xl font-extrabold leading-tight animate-fade-in ">
            Welcome to the <br>
            <span class="text-yellow-300">Personal Information Management System</span>
        </h1>
        
        <p class="mt-4 text-lg text-gray-200 animate-slide-in">
            Manage and secure your personal data effortlessly with our smart system.
        </p>

        <!-- Call to Action Button -->
        <a href="{% url 'create_page' %}" 
           class="before:content-['🚀'] before:mr-2 mt-6 inline-block px-6 py-3 text-lg font-semibold bg-yellow-400 text-blue-900 rounded-lg shadow-lg hover:bg-yellow-500 
          transition ease-in-out duration-500 hover:scale-110 ">
            Get Started
        </a>
        
    </div>
</div>



{% endblock %}
