<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Protected Page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam velit temporibus expedita quod vel
        eaque id quaerat consequuntur porro dolorum sed illo natus nesciunt,nnihil ab repudiandae molestiae error itaque.</p>

        <div>
            <a href="{% url 'my_view' %}">Home</a>
        </div>
</body>
</html>